{% extends "base.html" %}

{% block title %}
SGE - Cadastrar Novo Fornecedor
{% endblock %}

{% block content %}
    <div id="fornecedor-cadastro">
        <div class="page-header">
            <h1>Cadastrar Fornecedor</h1>
            <p>Preencha os dados para adicionar um novo fornecedor.</p>
        </div>
        <div class="content-wrapper-card">
            <form method="post">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-12">
                        <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
                        {{ form.name }}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.cnpj.id_for_label }}" class="form-label">{{ form.cnpj.label }}</label>
                        {{ form.cnpj }}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.phone.id_for_label }}" class="form-label">{{ form.phone.label }}</label>
                        {{ form.phone }}
                    </div>
                    <div class="col-12">
                        <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                    <div class="col-12">
                        <label for="{{ form.address.id_for_label }}" class="form-label">{{ form.address.label }}</label>
                        {{ form.address }}
                    </div>
                    <div class="col-12">
                        <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                </div>

                <div class="d-flex justify-content-end gap-2 mt-4">
                    <a href="{% url 'supplier_list' %}" class="btn btn-secondary">Cancelar e Voltar </a>
                    <button type="submit" class="btn btn-primary">Salvar Fornecedor</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
