{% extends "base.html" %}

{% block title %}
SGE - Apagar Fornecedor
{% endblock %}

{% block content %}
    <div id="fornecedor-cadastro">
        <div class="page-header">
            <h1>Confirmar Exclusão de Fornecedor - {{ supplier.name }}</h1>
            <p>Você está prestes a apagar a categoria <strong>{{ supplier.name }}</strong>.</p>
        </div >

        <div class="content-wrapper-card border-danger">
            <div class="text-center p-3">
                <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 3rem;"></i>
                <h4 class="mt-3">Atenção!</h4>
                <p>
                    Esta ação é irreversível. Todos os dados associados a <strong>"{{ supplier.name }}"</strong> serão permanentemente removidos do sistema.
                </p>
            </div>
            <form method="post" class="form">
                {% csrf_token %}
                <div class="d-flex justify-content-center gap-2 mt-4">
                    <a href="{% url 'supplier_list' %}" class="btn btn-secondary"
                        id="btn-cancelar-exclusao-fornecedor">Cancelar e Voltar para a Lista de Fornecedores
                    </a>
                    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                </div>
            </form>
        </div>        
    </div>

{% endblock %}