{% extends "base.html" %}

{% block title %}
SGE - Detalhes da Categoria
{% endblock %}

{% block content %}
    <div id="categoria-cadastro">
        <div class="page-header">
            <h1>Detalhes da Categoria - {{ category.name }}</h1>
            <p>Abaixo está os detalhes refernte a categoria {{ category.name }}.</p>
        </div >
        <ul class="view-details-list">
            <li><span class="detail-label">ID</span> <span class="detail-value">{{ category.id }}</span></li>
            <li><span class="detail-label">Nome</span> <span class="detail-value">{{ category.name }}</span></li>
            <li><span class="detail-label">Descrição</span> <span class="detail-value">{{ category.description }}</span>
            </li>
        </ul>
        <div class="d-flex justify-content-end gap-2 mt-4">
            <a href="{% url 'category_list' %}" class="btn btn-secondary" id="btn-cancelar-categoria">Voltar para a Lista de Categorias </a>
        </div>
    </div>
{% endblock %}