{% extends "base.html" %}

{% block title %}
SGE - Apagar Categoria {{ category.name }}
{% endblock %}

{% block content %}
    <div id="categoria-cadastro">
        <div class="page-header">
            <h1>Apagar Categoria - {{ category.name }}</h1>
            <p>Você está prestes a apagar a categoria <strong>{{ category.name }}</strong>.</p>
        </div >
        <div class="content-wrapper-card">
            <form method="post" class="form">
                {% csrf_token %}
                <h5>
                    Tem certeza que deseja apagar a categoria <strong>{{ category.name }}</strong>? Essa ação é irreversível!
                </h5>                
                <div class="d-flex justify-content-end gap-2 mt-4">
                    <a href="{% url 'category_list' %}" class="btn btn-secondary" id="btn-cancelar-categoria">Cancelar e Voltar para Lista de Categoria </a>
                    <button type="submit" class="btn btn-danger">Deletar Categoria</button>
                </div>               
            </form>
        </div>
    </div>
{% endblock %}