{% extends "base.html" %}

{% block title %}
SGE - Detalhes da Marca
{% endblock %}

{% block content %}
    <div id="categoria-cadastro">
        <div class="page-header">
            <h1>Detalhes da Marca - {{ brand.name }}</h1>
            <p>Abaixo está os detalhes refernte a marca {{ brand.name }}.</p>
        </div >
        <ul class="view-details-list">
            <li><span class="detail-label">ID</span> <span class="detail-value">{{ brand.id }}</span></li>
            <li><span class="detail-label">Nome</span> <span class="detail-value">{{ brand.name }}</span></li>
            <li><span class="detail-label">Descrição</span> <span class="detail-value">{{ brand.description }}</span>
            </li>
        </ul>
        <div class="d-flex justify-content-end gap-2 mt-4">
            <a href="{% url 'brand_list' %}" class="btn btn-secondary" id="btn-cancelar-categoria">Voltar para a Lista de Marcas </a>
        </div>
    </div>
{% endblock %}